@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body {
  overflow: hidden;
}
html, 
body, 
#root 
/* #root > div  */
{
  height: 100%;
}
div.bdy {
  display: grid;
  grid: [stack] 1fr / min-content [stack] 1fr;
}
.Toastify__toast-container { z-index: 9999999 !important; }
@media (max-width: 640px) {
  div.bdy > aside,
  div.bdy > main {
    grid-area: stack;
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

#sidenav-open {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 0.6s;
  display: grid;
  grid-template-columns: [nav] 1fr [escape] 2fr;
}
  
@media (max-width: 640px) {
  #sidenav-open {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: hidden auto;
    overscroll-behavior: contain;
    visibility: hidden;
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);
  }
}
  
@media only screen and (max-width: 640px) {
  #sidenav-open:target {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration) var(--easeOutExpo);
  }

  #sidenav-open:target ~ main {
    filter: blur(0.5em);
    z-index: -1;
  }
}
  
.grid-cols-auto-1fr-auto {
  grid-template-columns: auto 1fr auto;
}
  
#profile-progress {
  border: 1em solid white;
  border-right-color: #4a00e0;
  border-top-color: #4a00e0;
  border-bottom-color: #4a00e0;
  animation: thickening 1s 0.5s linear normal;
  border-left-color: white;
  border-radius: 50%;
}
  
@keyframes thickening {
  from {
    border-width: 0.2em;
  }
  to {
    border-width: 1em;
  }
}

#menu-toggle:checked + #menu {
    display: block;
}
.required:after {
  content:"\002A";
  color: red;
  margin-left: 5px;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #1e90ff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #1e90ff;
}

/*Modal**/
.mymodal {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translateX(-50%);
  transition: top .7s ease;
  border: 1px solid #ccc;
  background: #fff;
  /* overflow: auto; */
  border-radius: 4px;
  outline: none;
  /* padding: 20px; */
  z-index: 99999;
}
  
.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999999;
}
  
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
  
.ReactModal__Overlay--after-open {
  opacity: 1;
}
  
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.slideshow {
  top: 100px;
}
/****/
.mark-err button {border-color: red;}

 .react-datepicker-component .react-datepicker-input input {
	padding-left: 40px !important;
  padding-right: 15px !important;
}
.react-datepicker-component .react-datepicker-input .button-wrapper {
  left: 0;
  right: inherit !important;
}
.react-datepicker-component .react-datepicker-input {
  background: none !important;
  border: none !important;
}

.react-datepicker-input .button-wrapper .input-button {
  font-size: 16px !important;
  color: #000 !important;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding-bottom: 0 !important;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2 > button {
  border: none !important;
}
.react-datepicker-component .react-datepicker-input input {
  font-size: 16px !important;
  color: #000 !important;
  font-weight: normal !important;
}

/***Sidebar**/
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  /* background: #0382ff; */
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: #FFF;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #FFF;
  font-weight: 600px;
  transition: 0.3 ease;
  transition-delay: 0.3s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background-color: #1d1b31;
  /* background-color: #046bd3; */
}
.sidebar .nav-links li .icon_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .icon_links {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  font-size: 20px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li  a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background-color: #1d1b31;
  /* background-color: #046bd3; */
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-style: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top:0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links ul.sub-menu .link_name { 
  display: none;
}
.sidebar.close .nav-links ul.sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  /* background: #046bd3; */
  padding: 6px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  width: 78px;
  background: none;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  /* background: #046bd3; */
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;

}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details .profile-name,
.sidebar .profile-details .job {
  font-size: 18px;
  color: #FFF;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile-name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  height: 100vh;
  background-color: #E4E9F7;
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
/*********************/